#power_by {
	position: absolute;
	right: 3px;
	bottom: 3px;
	font-size: 11px;
}

body {
	font-size: 14px;
	color: #222;
	font-family:  "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
		"微软雅黑", "WenQuanYi Zen Hei", "黑体", Arial, sans-serif;
}

ul, ol {
	list-style-type: none;
	padding-left: 0px;
}

a {
	outline: medium none;
}

.jsbtn {
	height: 30px;
	line-height: 30px;
	min-width: 125px;
	padding: 0px 22px;

	border: 0px;
	border-radius: 4px;
	outline: medium none;
	font-size: 14px;

	overflow: visible;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	cursor: pointer;
}

.jsbtn_leave {
	background-color: #44b550;
	border: #44b550;
	color: #fff;
}

.jsbtn_stay {
	background-color: #33a550;
	border: #33a550;
	color: #fff;
}

.close_a {
	font-size: 14px;
	text-decoration: none;
	color: #cacaca;
}

.close_a:hover {
	color: #e60012;
}
